{% load staticfiles %}
<html>

    <head>
        <title>Prudence's blog</title>
    </head>
    <h1>This is the main title.</h1>
    <h2>This is the main title's sidekick.</h2>
    <h3>This is a peasant title, leeching off the fame of the greater ones before it.</h3>
    <h4>This. Is barely a title at all.</h4>
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTiKs2Gg7ixCJzoAAqlnXXGc8RwlVgDcfIbU-llDTm8Zth3GbYl"/>
    <body>
<p>This is a paragraph, it should be full of information. The information should be eye capturing,
it should make you so entranced by the substance that it lures you to read on. If you have read this far
then congratulations, you have wasted your time. this paragraph has no substance. I'm glad
it took you this long to figure that out.</p>
<p>You may have had times when you have tried to be sarcastic over text. Well, quite frankly
that was most likely a terrible idea, to which has little exceptions. Unless, of course, you
    <em>emphasise</em> certain words in your sentence. Though a word of warning,
    <strong><em>be</em></strong> sure <strong><em>you</em></strong> emphasise
    <strong><em>the</em></strong> right words, <strong><em>or</em></strong> else you might look
    <strong><em>like</em></strong> an idiot.</p>

        <h2>list</h2>

    <ul><li>first item</li><li>second item</li><li>third item</li></ul>

    </body>
<head>
        <title>Django Girls blog</title>
    </head>
    <div>

    </div>

    <h1>A list with no structure.</h1>
    <h2>To Do List</h2>

    <ul><li>Document growth of the nepenthes carnivorous plant.
    include TO SCALE sketches and a polaroid photo of the plant currently.
    Do not forget to update this as plant makes major developments.</li>
    <li>Continue experimentation with planting methods of seeded fruits. Water reqularly.
    and make sure to plant the tomato seeds which have been drying on a paper towel on the
    RIGHT side of the pot. On the left is where you planted the undried seeds straight from the tomato.</li>
    <li>Check on and plant apple seeds! Should have germinated by now, remove from fridge and plant.
    keep record of growth.</li><li>Experiment with online loops to create harmonies for the accordion.</li>
    <li>test different ways of introducing hamonies for Choral Festival. Pick the best one and discuss with
    other conductors. Plan methods of teaching and conducting, make sure there is no room for error,
        or awkward moments of not knowing what to do.</li>
        <li>Plan to see Alannah before or within the first week of school. Organise list of songs with
        chords for ukulele. Choose at least 3/4 top 40 songs to practise harmonising as seems to be her
        preferred genre, and bring some personal favorites to run through for fun (Kimya Dawson
        to shock her a bit)</li><li>Find and record all sims codes into personal tracking book.
        take to Gold Coast wth laptop and latest extension.</li><li>Find out how to make DIY custom wax
        seal stamp.</li><li>Sell something online and see if it works.</li><li>Plan movies for horror night.
        possible movie ideas go as follows: Carrie(19?/20?), Hush, Orphan, Child's play. Organise
        snacks and board games (taboo etc.) to play between movies for a small break. Playlist of songs for day
        (not your songs... bad idea)</li><li>Find long, preferably dead bamboo stick/tree/stem/plant? to
            pick things up and push open as well as close the door for the dog without needing to constantly stand.
            If traces of dirt are found, wash and widdle/carve away outer layer. Apply protective hard shield
            spray or the like.</li></ul>


    <h2>To buy For Future plans/projects</h2>
    <ul><li>Separate tracking book to track unusual occurrences in overnight visuals.
    </li><li>Core wool for felting</li><li>DIY wax seal stamp equipment
        stamp. (may need carving utensils)</li><li>Look up and plan for birthdays</li><li>Plant seeds for
    either herbs or edible flowers.</li></ul>

    <head>
        <title>Django Girls blog</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    </head>
    <body>
       <div class="page-header">
        <h1><a href="/">Django Girls Blog</a></h1>
    </div>
    <div class="content container">
        <div class="row">
            <div class="col-md-8">
            {% block content %}
            {% endblock %}
            </div>
        </div>
    </div>
    </body>
</html>