<html>
    <head>
        <title>Prudence's blog</title>
    </head>
    <h1>This is the main title.</h1>
    <h2>This is the main title's sidekick.</h2>
    <h3>This is a peasant title, leeching off the fame of the greater ones before it.</h3>
    <h6>This.</h6>
    <body>
<p>This is a paragraph, it should be full of information. The information should be eye capturing,
it should make you so entranced by the substance that it lures you to read on. If you have read this far
then congratulations, you have wasted your time. this paragraph has no substance. I'm glad
it took you this long to figure that out.</p>
<p>You may have had times when you have tried to be sarcastic over text. Well, quite frankly
that was most likely a terrible idea, to which has little exceptions. Unless, of course, you
    <em>emphasise</em> certain words in your sentence. Though a word of warning,
    <strong><em>be</em></strong> sure <strong><em>you</em></strong> emphasise
    <strong><em>the</em></strong> right words, <strong><em>or</em></strong> else you might look
    <strong><em>like</em></strong> an idiot.</p>

        <h3>list</h3>
    </head>
    <ul><li>first item</li><li>second item</li><li>third item</li></ul>

    </body>
<head>
        <title>Django Girls blog</title>
    </head>
    <div>
<h3><a href="">And here is a link that goes nowhere</a></h3>
    </div>
</html>