h1 {
    color: #0B4709;
}
h2 {
    color: #1F872B;
    }
h3 {
    color: #48F74E;
    }
p {
color: #0B4709;
    }
li {
color: #197316;
    }

h4 {
    color: #1F872B;
    }
h5 {
    color: #F788F5;
    }
h1a {
    color: #8D6EFF;;
}





